<!DOCTYPE html>
<html>
      <head>
           <title>task</title>
         
      </head>

      <body>
          
           
           <h2> {{title}}</h2>
          

            <form id="form1">
            <input type="text" id="address">
            <button>Search</button>
        </form>
          <p id="location"></p>
           <p id="latitude"></p>
            <p id="longitude"></p>
          <p id="forecast"></p>
          <p id="error"></p>

    

          
          <script src="js/script.js"></script>
      </body>
</html>
 